.cloudy-sprite, .flag-resume-bookmarks .flag.flag-action, .flag-job-bookmarks .flag.flag-action, .flag-resume-bookmarks .flag.unflag-action, .flag-job-bookmarks .flag.unflag-action, .flag-resume-bookmarks .flag:hover, .flag-resume-bookmarks .flag:focus, .flag-resume-bookmarks .flag:active, .flag-job-bookmarks .flag:hover, .flag-job-bookmarks .flag:focus, .flag-job-bookmarks .flag:active {
	background: url(/profiles/recruiter/themes/cloudy/images/cloudy-s49007d7676.png) no-repeat;
}

@font-face {
	font-family: "Ubuntu-L";
	src: url(/profiles/recruiter/themes/cloudy/css/fonts/Ubuntu-L.ttf) format('truetype');
}

@font-face {
	font-family: "Ubuntu-R";
	src: url(/profiles/recruiter/themes/cloudy/css/fonts/Ubuntu-R.ttf) format('truetype');
}

@font-face {
	font-family: "Ubuntu-M";
	src: url(/profiles/recruiter/themes/cloudy/css/fonts/Ubuntu-M.ttf) format('truetype');
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden] {
	display: none;
}

html {
	font-size: 100%;
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
	font-family: sans-serif;
}

body {
	margin: 0;
}

a:focus {
	outline: thin dotted;
}

a:active, a:hover {
	outline: 0;
}

h1 {
	font-size: 3em;
	margin: 0.67em 0;
}

h2 {
	font-size: 1.5em;
	margin: 0.83em 0;
}

h3 {
	font-size: 1.17em;
	margin: 1em 0;
}

h4 {
	font-size: 1em;
	margin: 1.33em 0;
}

h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}

h6 {
	font-size: 0.67em;
	margin: 2.33em 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b, strong {
	font-weight: bold;
}

blockquote {
	margin: 1em 40px;
}

dfn {
	font-style: italic;
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

mark {
	background: #ff0;
	color: #000;
}

p, pre {
	margin: 1em 0;
}

code, kbd, pre, samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

q {
	quotes: none;
}

q:before, q:after {
	content: '';
	content: none;
}

small {
	font-size: 80%;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

dl, menu, ol, ul {
	margin: 1em 0;
}

dd {
	margin: 0 0 0 40px;
}

menu, ol, ul {
	padding: 0 0 0 40px;
}

nav ul, nav ol {
	list-style: none;
	list-style-image: none;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

form {
	margin: 0;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
	white-space: normal;
	*margin-left: -7px;
}

button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}

button, input {
	line-height: normal;
}

button, select {
	text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
	*overflow: visible;
}

button[disabled], html input[disabled] {
	cursor: default;
}

input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	*height: 13px;
	*width: 13px;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.node-job .terms {
	font-size: 0.95em;
	color: #62625e;
}

.flag-resume-bookmarks .flag, .flag-job-bookmarks .flag {
	display: inline-block;
	height: 30px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 0 50%;
	-webkit-transition: background-image 0.15s linear;
	-moz-transition: background-image 0.15s linear;
	-o-transition: background-image 0.15s linear;
	transition: background-image 0.15s linear;
}

.flag-resume-bookmarks .flag, .flag-job-bookmarks .flag {
	line-height: 30px;
	padding-left: 32px;
}

.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
	-moz-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
	-o-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
	transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
	font-family: "Ubuntu-M";
	font-weight: normal;
}

h1.title {
	margin-top: 0;
}

h2.block__title {
	font-family: "Ubuntu-M";
	font-weight: normal;
	font-size: 1em;
	padding-bottom: .5em;
	border-bottom: 3px solid #efefef;
}

.sidebar-first h2.block__title, .sidebar-second h2.block__title {
	border-bottom: none;
	padding-bottom: none;
	margin-bottom: .6em;
	margin-top: 0;
}

fieldset {
	margin-bottom: 1em;
	padding: 0.5em;
}

form {
	margin: 0;
	padding: 0;
}

hr {
	border: 1px solid gray;
	height: 1px;
}

img {
	border: 0;
}

table {
	border-collapse: collapse;
}

th {
	border-bottom: 3px solid #ccc;
	padding-right: 1em;
	text-align: left;
}

tbody {
	border-top: 1px solid #ccc;
}

tr.even, tr.odd {
	background-color: #eee;
	border-bottom: 1px solid #ccc;
	padding: 0.1em 0.6em;
}

th.active img {
	display: inline;
}

td.active {
	background-color: #ddd;
}

.item-list .title {
	font-weight: bold;
}

.item-list ul {
	margin: 0 0 0.75em 0;
	padding: 0;
}

.item-list ul li {
	margin: 0 0 0.25em 1.5em;
	padding: 0;
}

.form-item, .form-actions {
	margin-top: 1em;
	margin-bottom: 1em;
}

tr.odd .form-item, tr.even .form-item {
	margin-top: 0;
	margin-bottom: 0;
	white-space: nowrap;
}

.form-item .description {
	font-size: 0.85em;
}

label {
	display: block;
	font-weight: bold;
}

label.option {
	display: inline;
	font-weight: normal;
}

.form-checkboxes .form-item, .form-radios .form-item {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

.form-type-radio .description, .form-type-checkbox .description {
	margin-left: 2.4em;
}

input.form-checkbox, input.form-radio {
	vertical-align: middle;
}

.marker, .form-required {
	color: #f00;
}

.form-item input.error, .form-item textarea.error, .form-item select.error {
	border: 2px solid red;
}

.container-inline .form-actions, .container-inline.form-actions {
	margin-top: 0;
	margin-bottom: 0;
}

.more-link {
	text-align: right;
}

.more-help-link {
	text-align: right;
}

.more-help-link a {
	background: url(/profiles/recruiter/themes/misc/help.png) 0 50% no-repeat;
	padding: 1px 0 1px 20px;
}

.item-list .pager {
	clear: both;
	text-align: center;
}

.item-list .pager li {
	background-image: none;
	display: inline;
	list-style-type: none;
	padding: 0.5em;
}

.pager-current {
	font-weight: bold;
}

#autocomplete li.selected {
	background: #0072b9;
	color: #fff;
}

html.js fieldset.collapsible .fieldset-legend {
	background: url(/profiles/recruiter/themes/misc/menu-expanded.png) 5px 65% no-repeat;
	padding-left: 15px;
}

html.js fieldset.collapsed .fieldset-legend {
	background-image: url(/profiles/recruiter/themes/misc/menu-collapsed.png);
	background-position: 5px 50%;
}

.fieldset-legend span.summary {
	color: #999;
	font-size: 0.9em;
	margin-left: 0.5em;
}

tr.drag {
	background-color: #fffff0;
}

tr.drag-previous {
	background-color: #ffd;
}

.tabledrag-toggle-weight {
	font-size: 0.9em;
}

body div.tabledrag-changed-warning {
	margin-bottom: 0.5em;
}

tr.selected td {
	background: #ffc;
}

td.checkbox, th.checkbox {
	text-align: center;
}

.progress {
	font-weight: bold;
}

.progress .bar {
	background: #ccc;
	border-color: #666;
	margin: 0 0.2em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.progress .filled {
	background: #0072b9 url(/profiles/recruiter/themes/misc/progress.gif);
}

table.term-level-element-table caption {
	display: none;
}

body {
	font-family: "Ubuntu-L";
	line-height: 1.4;
	color: #2e2e2c;
}

em {
	font-style: italic;
}

strong {
	font-family: "Ubuntu-M";
}

p, pre {
	margin: 0.5em 0;
}

label {
	color: #444444;
	display: block;
	font-family: "Ubuntu-M";
	font-weight: normal;
}

a {
	-webkit-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
	-moz-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
	-o-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
	transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
}

a:link, a:visited {
	color: black;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	outline: none;
	color: #ff316f;
	text-decoration: underline;
}

.facetapi-limit-link {
	display: block;
	margin-top: 9px;
}

ul.menu, ul.nice-menu, ul.action-links, ul.field-collection-view-links, ul.vertical-tabs-list, .item-list ul.facetapi-facetapi-checkbox-links {
	padding: 0;
	margin: 0;
}

ul.menu li, ul.nice-menu li, ul.action-links li, ul.field-collection-view-links li, ul.vertical-tabs-list li, .item-list ul.facetapi-facetapi-checkbox-links li {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul, .item-list ul {
	padding: 0;
	margin: 1em 0;
}

ul li, .item-list ul li {
	margin-left: 1.5em;
	list-style: disc;
}

ul ul, .item-list ul ul {
	margin-left: 1em;
}

ol {
	padding: 0 0 0 1.5em;
	margin: 1em 0;
}

ol li {
	list-style: decimal;
}

ol ul {
	margin-left: 1em;
}

form .form-item, form table .form-item, form.form-stacked .form-item {
	float: none;
	width: auto;
	margin-right: auto;
	*margin-left: auto;
	display: block;
	padding-left: 0%;
}

form .form-item label, form table .form-item label, form.form-stacked .form-item label {
	float: none;
	width: auto;
	margin-right: auto;
	*margin-left: auto;
	display: block;
	margin-left: 0;
	margin-bottom: .2em;
}

form table .form-item label {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}

form .form-item .form-item {
	margin-top: 0;
	width: auto;
	padding-left: 0;
}

@media all and (min-width:800px) {
	form .form-item {
		width: 74.625%;
		float: right;
		margin-right: 0;
		*margin-left: -1.5%;
		display: inline;
		padding-left: 25.375%;
		float: none;
		display: block;
	}

	form .form-item label {
		width: 23.875%;
		float: left;
		margin-right: 1.5%;
		display: inline;
		width: 31.83333%;
		margin-left: -33.83333%;
		position: relative;
		margin-right: 0;
	}

	form .form-item .form-item {
		margin-top: 1em;
	}

}

form .container-inline .form-item, form .container-inline .form-item .form-item {
	display: inline;
}

.field-suffix {
	white-space: nowrap;
}

.confirm-parent, .password-parent {
	clear: none;
	overflow: hidden;
	*zoom: 1;
}

.password-strength {
	margin-top: 0;
}

form .form-actions > * {
	margin-right: 1em;
}

form .form-item.form-type-checkbox label, form .form-item.form-type-radio label {
	float: none;
	display: inline;
	margin-left: .5em;
	margin-bottom: 0;
}

form .form-item.form-type-checkbox .description, form .form-item.form-type-radio .description {
	margin-left: 2em;
}

form .form-item.form-type-checkboxes .description, form .form-item.form-type-radios .description {
	margin-top: .5em;
}

form .form-item.form-type-textarea {
	float: none;
	width: auto;
	margin-right: auto;
	*margin-left: auto;
	display: block;
	padding-left: 0%;
}

form .form-item.form-type-textarea label {
	float: none;
	width: auto;
	margin-right: auto;
	*margin-left: auto;
	display: block;
	margin-left: 0;
	margin-bottom: .2em;
}

.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
	color: #2e2e2c;
	background-color: #c9dd19;
	border: 1px solid #a1b020;
	padding: 1em;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	font-weight: bold;
	text-align: center;
	padding: .5em 1em;
	cursor: pointer;
}

.button:hover, .button:focus, .button:active, button:hover, button:focus, button:active, input[type="button"]:hover, input[type="button"]:focus, input[type="button"]:active, input[type="reset"]:hover, input[type="reset"]:focus, input[type="reset"]:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background-color: #d6ec17;
	border-color: #7d8722;
	text-decoration: none;
}

.button:active, button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}

input.form-submit {
	color: #2e2e2c;
	background-color: #dbf211;
	border: 1px solid #b4c616;
	padding: 1em;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	font-weight: bold;
	text-align: center;
	padding: .5em 1em;
	cursor: pointer;
}

input.form-submit:hover, input.form-submit:focus, input.form-submit:active {
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background-color: #e2f917;
	border-color: #8e9b1c;
	text-decoration: none;
}

input.form-submit:active {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}

input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea, select {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	outline: none;
	padding: .5em;
	border: 1px solid #999;
	color: #666;
	background-color: #fff;
	max-width: 100%;
}

input[type="date"]:focus, input[type="date"]:active, input[type="datetime"]:focus, input[type="datetime"]:active, input[type="datetime-local"]:focus, input[type="datetime-local"]:active, input[type="email"]:focus, input[type="email"]:active, input[type="month"]:focus, input[type="month"]:active, input[type="number"]:focus, input[type="number"]:active, input[type="password"]:focus, input[type="password"]:active, input[type="search"]:focus, input[type="search"]:active, input[type="tel"]:focus, input[type="tel"]:active, input[type="text"]:focus, input[type="text"]:active, input[type="time"]:focus, input[type="time"]:active, input[type="url"]:focus, input[type="url"]:active, input[type="week"]:focus, input[type="week"]:active, textarea:focus, textarea:active, select:focus, select:active {
	-webkit-box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.1);
}

input[type="date"].error, input[type="datetime"].error, input[type="datetime-local"].error, input[type="email"].error, input[type="month"].error, input[type="number"].error, input[type="password"].error, input[type="search"].error, input[type="tel"].error, input[type="text"].error, input[type="time"].error, input[type="url"].error, input[type="week"].error, textarea.error, select.error {
	border: 1px solid Red;
}

select {
	padding: .44em;
}

input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea, select {
	-webkit-appearance: none;
}

select:not([multiple]) {
	padding: .45em;
	padding-right: 5px;
	background-image: url(/profiles/recruiter/themes/cloudy/images/icon-select.png);
	background-position: right center;
	background-repeat: no-repeat;
}

select:not([multiple]) {
	padding-right: 20px;
	-moz-padding-end: 5px;
	-ms-background-position-x: 200%;
}

html.ie select {
	background-image: none;
	padding-right: 5px;
}

form .container-inline-date {
	overflow: hidden;
	*zoom: 1;
	margin: 0.5em 0;
	padding: 0.25em 0;
}

form .container-inline-date .form-item {
	margin: 0 .5em 0 0;
	float: left;
}

html.js input.form-autocomplete {
	background-image: url(/profiles/recruiter/themes/cloudy/images/mega-master-throbber.gif);
	background-position: 100% 10px;
	padding-right: 18px !important;
}

html.js input.throbbing {
	background-position: 100% -120px;
}

.form-type-textfield #autocomplete ul {
	list-style: none outside none;
}

.form-type-textfield #autocomplete ul li {
	margin: 0;
	padding: 3px 0 3px 8px;
}

.form-type-textfield #autocomplete ul li span.autocomplete-user-input {
	font-family: "Ubuntu-M";
}

form .field--type-term-level table thead th {
	border: none;
}

form .field--type-term-level table tbody {
	border-bottom-width: 3px;
	border-top-width: 3px;
}

form .field--type-file .file-widget .form-text {
	max-width: 345px;
}

@media all and (min-width:800px) {
	form .field--type-file .file-widget .form-text {
		max-width: 100%;
	}

}

fieldset {
	margin-bottom: 1.5em;
}

.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
	color: #2e2e2c;
	background-color: #c9dd19;
	border: 1px solid #a1b020;
	padding: 1em;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	font-weight: bold;
	text-align: center;
	padding: .5em 1em;
	cursor: pointer;
	border-bottom: 5px solid #9faf14;
	margin-right: 1em;
}

.button:hover, .button:focus, .button:active, button:hover, button:focus, button:active, input[type="button"]:hover, input[type="button"]:focus, input[type="button"]:active, input[type="reset"]:hover, input[type="reset"]:focus, input[type="reset"]:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background-color: #d6ec17;
	border-color: #7d8722;
	text-decoration: none;
}

.button:active, button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button:hover, .button:focus, .button:active, button:hover, button:focus, button:active, input[type="button"]:hover, input[type="button"]:focus, input[type="button"]:active, input[type="reset"]:hover, input[type="reset"]:focus, input[type="reset"]:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
	border-color: #2e2e2c;
}

.field {
	float: none;
	width: auto;
	margin-right: auto;
	*margin-left: auto;
	display: block;
	padding-left: 0%;
}

.field .field__label {
	font-family: "Ubuntu-M";
	font-weight: normal;
	margin-bottom: 0em;
}

.field .field__label, .field .term-level-field-label {
	float: none;
	width: auto;
	margin-right: auto;
	*margin-left: auto;
	display: block;
	margin-left: 0;
	margin-bottom: .2em;
}

@media all and (min-width:800px) {
	.field:not(.field--type-field-collection):not(.field--label-hidden), .field.field--type-term-level {
		width: 74.625%;
		float: right;
		margin-right: 0;
		*margin-left: -1.5%;
		display: inline;
		padding-left: 25.375%;
		float: none;
		display: block;
	}

	.field:not(.field--type-field-collection):not(.field--label-hidden) .field__label, .field:not(.field--type-field-collection):not(.field--label-hidden) .term-level-field-label, .field.field--type-term-level .field__label, .field.field--type-term-level .term-level-field-label {
		width: 23.875%;
		float: left;
		margin-right: 1.5%;
		display: inline;
		width: 31.83333%;
		margin-left: -33.83333%;
		position: relative;
		margin-right: 0;
	}

	.field:not(.field--type-field-collection):not(.field--label-hidden).field--type-text-with-summary, .field.field--type-term-level.field--type-text-with-summary {
		float: none;
		width: auto;
		margin-right: auto;
		*margin-left: auto;
		display: block;
		padding-left: 0%;
	}

	.field:not(.field--type-field-collection):not(.field--label-hidden).field--type-text-with-summary .field__label, .field:not(.field--type-field-collection):not(.field--label-hidden).field--type-text-with-summary .term-level-field-label, .field.field--type-term-level.field--type-text-with-summary .field__label, .field.field--type-term-level.field--type-text-with-summary .term-level-field-label {
		float: none;
		width: auto;
		margin-right: auto;
		*margin-left: auto;
		display: block;
		margin-left: 0;
		margin-bottom: .2em;
	}

}

@media all and (max-width:800px) {
	.field, .field-collection-container .field--type-term-level .field__items .field__item {
		margin-bottom: 0.5em;
	}

}

.field--type-term-level .term-level-field-label {
	background: url(/profiles/recruiter/themes/cloudy/images/balls.gif) no-repeat scroll right 0 transparent;
}

.field--type-term-level .term-level-field-label-level-3 {
	background-position: right -20px;
}

.field--type-term-level .term-level-field-label-level-2 {
	background-position: right -40px;
}

.field--type-term-level .term-level-field-label-level-1 {
	background-position: right -60px;
}

table {
	width: 100%;
}

thead, table {
	border: none;
}

tbody {
	border-top-color: #af0136;
	border-top-style: solid;
	border-top-width: 5px;
	border-bottom-color: #2e2e2c;
	border-bottom-style: solid;
	border-bottom-width: 5px;
}

th {
	font-family: "Ubuntu-M";
	font-weight: normal;
	padding: 6px 12px;
	background-color: white;
}

th.active img {
	margin-left: 5px;
}

tr {
	padding: 0;
}

tr.even, tr.odd {
	border: none;
}

tr.odd {
	background-color: white;
}

tr.even {
	background-color: #efefef;
}

td {
	padding: 6px 12px;
}

td.active {
	background-color: inherit;
}

@media all and (max-width:800px) {
	.responsive-table-wrapper {
		position: relative;
		margin-bottom: 20px;
		overflow: hidden;
		border: 1px solid #ccc;
		padding: 3px;
	}

	.responsive-table-wrapper tbody {
		border-bottom: none;
	}

	.responsive-table-scroller {
		overflow: scroll;
		overflow-y: hidden;
		padding-bottom: 3px;
	}

	.responsive-table-scroller::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	.responsive-table-scroller::-webkit-scrollbar-button:start:decrement, .responsive-table-scroller::-webkit-scrollbar-button:end:increment {
		display: block;
		height: 4px;
	}

	.responsive-table-scroller::-webkit-scrollbar-track:enabled {
		background: url(/profiles/recruiter/themes/cloudy/images/rgbapng/6e6e6e1a-5.png?1383572401);
		background: rgba(110, 110, 110, 0.1);
		-webkit-border-radius: 4px;
	}

	.responsive-table-scroller::-webkit-scrollbar-thumb:vertical, .responsive-table-scroller::-webkit-scrollbar-thumb:horizontal {
		background: url(/profiles/recruiter/themes/cloudy/images/rgbapng/00000033-5.png?1383572401);
		background: rgba(0, 0, 0, 0.2);
		-webkit-border-radius: 4px;
	}

	table td, table th {
		position: relative;
	}

}

h1, h2, h3, h4, h5, h6 {
	font-family: "Ubuntu-M";
	font-weight: normal;
}

.item-list .pager {
	margin: 18px 0 12px 0;
	overflow: hidden;
	*zoom: 1;
}

.item-list .pager li {
	margin: 0 5px 6px 0;
	padding: 0;
	float: left;
}

.item-list .pager li.pager-current {
	padding: 0.25em 0.75em;
}

.item-list .pager li.pager-current a {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background-color: #e9e9e9;
	color: #505050;
	text-align: center;
	white-space: nowrap;
	padding: 0.25em 0.75em;
}

.item-list .pager li.last {
	margin-right: 0;
}

.item-list .pager a {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background-color: #e9e9e9;
	color: #505050;
	text-align: center;
	white-space: nowrap;
	padding: 0.25em 0.75em;
	display: block;
	text-decoration: none;
}

.item-list .pager a:hover, .item-list .pager a:focus, .item-list .pager a:active {
	color: #373737;
	background-color: #d0d0d0;
}

html {
	height: 100%;
}

body.slim-mode.node-type-job-per-template {
	padding: 1em;
}

body.slim-mode.node-type-job-per-link, body.slim-mode.note-type-job-per-file {
	height: 100%;
	overflow: hidden;
}

.page-slim, .page-slim .main {
	height: 100%;
}

.pane-recruiter-wizard-add-links .action-links {
	margin-top: 0;
}

.block-search {
	padding: 1em 70px 1em 0;
}

.block-search .form-item {
	float: none;
	width: auto;
	margin-right: auto;
	*margin-left: auto;
	display: block;
	margin: 0;
	padding: 0;
}

.block-search .form-text, .block-search .form-select {
	width: 100%;
}

@media all and (max-width:800px) {
	html.js body.sidebar-first .search-container {
		padding-left: 50px;
	}

	.block-job-search .views-submit-button {
		top: 2em;
	}

	.block-resume-search .views-submit-button {
		top: .5em;
	}

	.block-search .views-exposed-form {
		position: relative;
	}

	.block-search .views-submit-button {
		position: absolute;
		right: -70px;
	}

	.block-search .form-submit {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		width: 60px;
		height: 60px;
		background: transparent url(/profiles/recruiter/themes/cloudy/images/search-button-small.png) no-repeat 50% 50%;
		background-size: 90%;
		border: none;
		text-indent: -999em;
	}

	.block-search .form-submit:hover, .block-search .form-submit:focus, .block-search .form-submit:active {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		background-color: transparent;
	}

}

@media all and (min-width:800px) {
	.block-job-search .views-exposed-widget {
		width: 50%;
	}

	.block-resume-search .views-exposed-widget {
		width: 100%;
	}

	.block-search {
		margin-left: 25.375%;
		padding-right: 200px;
	}

	.front .block-search, .page-recruiter .block-search {
		margin-left: 0;
	}

	.block-search .views-exposed-widget {
		float: left;
	}

	.block-search .views-widget {
		margin-right: .5em;
	}

	.block-search .views-submit-button {
		margin-right: -200px;
		width: 200px;
		margin-top: 2em;
	}

	.block-search .form-submit {
		width: 200px;
	}

}

.block--search-api-saved-searches {
	overflow: hidden;
	*zoom: 1;
	padding: 1em;
}

.block--search-api-saved-searches h2 {
	font-size: 2em;
	text-align: center;
	border-bottom: none;
	padding-bottom: 0em;
	margin: 0.3em 0em;
}

.block--search-api-saved-searches .form-item.form-item-notify-interval {
	width: 49.25%;
	float: left;
	margin-right: 1.5%;
	display: inline;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

.block--search-api-saved-searches .form-item.form-item-notify-interval label {
	display: none;
}

.block--search-api-saved-searches .form-item.form-item-notify-interval select {
	width: 100%;
}

.block--search-api-saved-searches .form-submit {
	width: 49.25%;
	float: right;
	margin-right: 0;
	*margin-left: -1.5%;
	display: inline;
}

.block--search-api-saved-searches .form-item.form-item-mail {
	float: none;
	width: auto;
	margin-right: auto;
	*margin-left: auto;
	display: block;
	padding-left: 0%;
}

.block--search-api-saved-searches .form-item.form-item-mail label {
	float: none;
	width: auto;
	margin-right: auto;
	*margin-left: auto;
	display: block;
	margin-left: 0;
	margin-bottom: .2em;
}

.block--search-api-saved-searches .form-item.form-item-mail input {
	width: 100%;
}

@media all and (max-width:800px) {
	.topbar {
		background-color: #af0136;
		border-bottom: 3px solid #2e2e2c;
	}

}

.l-region--navigation .block__title {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}

.main {
	position: static;
}

.main-wrapper {
	position: relative;
}

.show-sidebar .main-wrapper > *:not(.main) {
	display: none;
}

.page-recruiter h1.title {
	display: none;
}

@media all and (min-width:800px) {
	.page-recruiter .view-front-page-resume-search .views-row {
		width: 49.25%;
		float: left;
		margin-right: 1.5%;
		display: inline;
		-webkit-transition: width 0.15s;
		-moz-transition: width 0.15s;
		-o-transition: width 0.15s;
		transition: width 0.15s;
	}

	.page-recruiter .view-front-page-resume-search .views-row:nth-child(2n) {
		float: right;
		margin-right: 0;
		*margin-left: -1.5%;
		display: inline;
	}

	.page-recruiter .view-front-page-resume-search .views-row:first-child, .page-recruiter .view-front-page-resume-search .views-row:nth-child(2n+3) {
		clear: both;
	}

	.page-recruiter .view-front-page-resume-search .views-row .field {
		float: none;
		width: auto;
		margin-right: auto;
		*margin-left: auto;
		display: block;
		padding-left: 0%;
	}

	.page-recruiter .view-front-page-resume-search .views-row .field .field__label, .page-recruiter .view-front-page-resume-search .views-row .field .term-level-field-label {
		float: none;
		width: auto;
		margin-right: auto;
		*margin-left: auto;
		display: block;
		margin-left: 0;
		margin-bottom: .2em;
	}

}

@media all and (min-width:1200px) {
	.page-recruiter .view-front-page-resume-search .views-row {
		float: none;
		width: auto;
		margin-right: auto;
		*margin-left: auto;
		display: block;
		width: 32.33333%;
		float: left;
		margin-right: 1.5%;
		display: inline;
	}

	.page-recruiter .view-front-page-resume-search .views-row:nth-child(1n) {
		float: left;
		margin-right: 1.5%;
		*margin-left: auto;
	}

	.page-recruiter .view-front-page-resume-search .views-row:nth-child(1n) {
		clear: none;
	}

	.page-recruiter .view-front-page-resume-search .views-row:nth-child(3n) {
		float: right;
		margin-right: 0;
		*margin-left: -1.5%;
		display: inline;
	}

	.page-recruiter .view-front-page-resume-search .views-row:first-child, .page-recruiter .view-front-page-resume-search .views-row:nth-child(3n+4) {
		clear: both;
	}

}

.node-job.node-teaser {
	clear: both;
	padding: 0.2em;
}

.node-job.node-teaser .date {
	width: 32.33333%;
	float: left;
	margin-right: 1.5%;
	display: inline;
	margin-bottom: 1em;
}

.node-job.node-teaser .content {
	width: 66.16667%;
	float: right;
	margin-right: 0;
	*margin-left: -1.5%;
	display: inline;
}

.node-job.node-teaser .link-wrapper {
	width: 66.16667%;
	float: right;
	margin-right: 0;
	*margin-left: -1.5%;
	display: inline;
}

.node-job.node-teaser .link-wrapper {
	clear: both;
}

.node-job.node-teaser .link-wrapper ul {
	margin: 0;
}

@media all and (min-width:800px) {
	.node-job.node-teaser {
		clear: both;
	}

	.node-job.node-teaser .date {
		width: 15.41667%;
		float: left;
		margin-right: 1.5%;
		display: inline;
	}

	.node-job.node-teaser .content {
		width: 66.16667%;
		float: left;
		margin-right: 1.5%;
		display: inline;
	}

	.node-job.node-teaser .link-wrapper {
		width: 15.41667%;
		float: right;
		margin-right: 0;
		*margin-left: -1.5%;
		display: inline;
		clear: none;
	}

}

.node-job.node-teaser {
	margin-bottom: 1em;
}

.node-job.node-teaser h2 {
	margin-top: 0;
	margin-bottom: 0.1em;
	font-size: 1.1em;
}

.node-job.node-teaser .node-readmore {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}

.field--name-field-resume-personal-info .field-collection-view .resume-photo {
	width: 40.79167%;
	float: right;
	margin-right: 0;
	*margin-left: -1.5%;
	display: inline;
	margin-bottom: 1em;
}

.field--name-field-resume-personal-info .field-collection-view .resume-photo img {
	width: 100%;
}

.field--name-field-resume-personal-info .field-collection-view .resume-info {
	width: 57.70833%;
	float: left;
	margin-right: 1.5%;
	display: inline;
}

@media all and (min-width:800px) {
	.field--name-field-resume-personal-info .field-collection-view .resume-photo {
		width: 23.875%;
		float: right;
		margin-right: 0;
		*margin-left: -1.5%;
		display: inline;
	}

	.field--name-field-resume-personal-info .field-collection-view .resume-info {
		width: 74.625%;
		float: left;
		margin-right: 1.5%;
		display: inline;
	}

	.field--name-field-resume-personal-info .field-collection-view .resume-info .field {
		width: 61.9375%;
		float: right;
		margin-right: 0;
		*margin-left: -1.5%;
		display: inline;
		padding-left: 38.0625%;
	}

	.field--name-field-resume-personal-info .field-collection-view .resume-info .field__label {
		width: 36.5625%;
		float: left;
		margin-right: 1.5%;
		display: inline;
		width: 58.5%;
		margin-left: -60.9%;
		position: relative;
		margin-right: 0;
	}

}

.resume-teaser-container .resume-teaser-sidebar {
	width: 15.41667%;
	float: right;
	margin-right: 0;
	*margin-left: -1.5%;
	display: inline;
}

.resume-teaser-container .resume-teaser-sidebar .field {
	margin: 0;
	padding: 0;
}

.resume-teaser-container .resume-teaser-sidebar img {
	width: 100%;
}

.resume-teaser-container .resume-teaer-contact-link a {
	display: inline-block;
	width: 75%;
	margin: 0.5em 0;
	color: #2e2e2c;
	background-color: #c9dd19;
	border: 1px solid #a1b020;
	padding: 1em;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	font-weight: bold;
	text-align: center;
	padding: .5em 1em;
	cursor: pointer;
	border-bottom: 5px solid #9faf14;
}

.resume-teaser-container .resume-teaer-contact-link a:hover, .resume-teaser-container .resume-teaer-contact-link a:focus, .resume-teaser-container .resume-teaer-contact-link a:active {
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background-color: #d6ec17;
	border-color: #7d8722;
	text-decoration: none;
}

.resume-teaser-container .resume-teaer-contact-link a:active {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}

.resume-teaser-container .resume-teaer-contact-link a:hover, .resume-teaser-container .resume-teaer-contact-link a:focus, .resume-teaser-container .resume-teaer-contact-link a:active {
	border-color: #2e2e2c;
}

.resume-teaser-container .resume-teaser-info {
	width: 83.08333%;
	float: left;
	margin-right: 1.5%;
	display: inline;
}

.resume-teaser-container .field-collection-container {
	margin-bottom: 0.5em;
}

.resume-teaser-container .links {
	clear: both;
	margin: 0;
}

.resume-teaser-container .links.inline {
	display: block;
}

.resume-teaser-container .links .rules-link-wrapper {
	margin-right: 0.5em;
}

.field--name-field-resume-birthday .date-form-element-content .form-item label {
	display: none;
}

@media all and (min-width:800px) {
	.field-collection-item-field-resume-education {
		width: 74.625%;
		float: right;
		margin-right: 0;
		*margin-left: -1.5%;
		display: inline;
		padding-left: 25.375%;
		float: none;
		display: block;
	}

	.field-collection-item-field-resume-education .resume-time-period {
		width: 23.875%;
		float: left;
		margin-right: 1.5%;
		display: inline;
		width: 31.83333%;
		margin-left: -33.83333%;
		position: relative;
		margin-right: 0;
	}

}

@media all and (min-width:800px) {
	.field-collection-item-field-resume-xp {
		width: 74.625%;
		float: right;
		margin-right: 0;
		*margin-left: -1.5%;
		display: inline;
		padding-left: 25.375%;
		float: none;
		display: block;
	}

	.field-collection-item-field-resume-xp .resume-time-period {
		width: 23.875%;
		float: left;
		margin-right: 1.5%;
		display: inline;
		width: 31.83333%;
		margin-left: -33.83333%;
		position: relative;
		margin-right: 0;
	}

}

#user-profile-form {
	max-width: 600px;
}

#user-register-form .description {
	max-width: 500px;
}

.section-user .form-item {
	float: none;
	width: auto;
	margin-right: auto;
	*margin-left: auto;
	display: block;
	padding-left: 0%;
}

.section-user .form-item label {
	float: none;
	width: auto;
	margin-right: auto;
	*margin-left: auto;
	display: block;
	margin-left: 0;
	margin-bottom: .2em;
}

.region-content .views-exposed-form .form-item {
	float: none;
	width: auto;
	margin-right: auto;
	*margin-left: auto;
	display: block;
	padding-left: 0%;
	margin: 0;
}

.region-content .views-exposed-form label, .region-content .views-exposed-form .views-widget {
	float: left;
	margin-right: 1em;
}

@media all and (min-width:480px) {
	.user-login {
		width: 49.25%;
		float: left;
		margin-right: 1.5%;
		display: inline;
	}

	.register-box {
		width: 49.25%;
		float: right;
		margin-right: 0;
		*margin-left: -1.5%;
		display: inline;
	}

}

.job-application__photo {
	display: none;
}

@media all and (min-width:800px) {
	.job-application__photo {
		display: block;
		width: 6.95833%;
		float: left;
		margin-right: 1.5%;
		display: inline;
	}

}

.job-application__information {
	width: 100%;
	float: left;
	margin-right: 1.5%;
	display: inline;
}

@media all and (min-width:800px) {
	.job-application__information {
		width: 70.39583%;
		float: left;
		margin-right: 1.5%;
		display: inline;
	}

}

.job-application__links {
	width: 100%;
	float: left;
	margin-right: 1.5%;
	display: inline;
}

@media all and (min-width:800px) {
	.job-application__links {
		width: 19.64583%;
		float: right;
		margin-right: 0;
		*margin-left: -1.5%;
		display: inline;
	}

}

body {
	background-color: white;
}

.footer-container {
	color: #cccccc;
	background-color: #2e2e2c;
	padding-top: 24px;
}

.footer-container a {
	color: #efefef;
}

.footer-container a:hover, .footer-container a:focus, .footer-container a:active {
	color: white;
	text-decoration: underline;
}

.footer-container h2 {
	color: #efefef;
	border: none;
	font-style: italic;
}

html.js .agent-target {
	display: none;
}

.agent-box {
	display: none;
	margin-bottom: 1em;
}

html.js .agent-box {
	display: block;
}

.region-content .block.block--recruiter-register h2 {
	font-size: 2em;
	margin-bottom: 0em;
	padding-bottom: 0em;
}

html.js .page-recruiter .facetapi-checkbox, html.js .front .facetapi-checkbox {
	display: none;
}

div.form-item div.password-suggestions {
	border: 0px;
}

.block--recruiter-resume .state-info-box .state-info-text, .block--recruiter-job-application {
	padding: 0.5em;
	margin-bottom: 0.5em;
	background-color: #efefef;
	color: #2e2e2c;
}

.block--banner {
	background-image: url(/profiles/recruiter/themes/cloudy/images/banner-sample.jpg);
	background-repeat: no-repeat;
	background-position: top right;
	height: 300px;
}

.banner-text {
	margin-right: 570px;
	padding-top: 0.5em;
}

.banner-text p:first-child {
	-webkit-transition: font-size 0.15s;
	-moz-transition: font-size 0.15s;
	-o-transition: font-size 0.15s;
	transition: font-size 0.15s;
	font-family: "Ubuntu-M";
	font-size: 1.2em;
}

@media all and (min-width:980px) {
	.banner-text {
		margin-right: 650px;
	}

	.banner-text p:first-child {
		font-size: 1.5em;
	}

}

@media all and (min-width:800px) {
	.with-banner .search-container {
		position: relative;
		z-index: 100;
		margin-top: -6.1em;
	}

}

.block--recruiter-job-search-job-total-count {
	padding-top: 1em;
	font-size: 1.3em;
}

.name-and-slogan {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	float: left;
}

.name-and-slogan h1 {
	margin: 0.5em 0 0 0;
}

.name-and-slogan a {
	color: #2e2e2c;
	font-family: "Ubuntu-L";
}

.name-and-slogan a, .name-and-slogan a:hover, .name-and-slogan a:focus, .name-and-slogan a:active {
	color: #2e2e2c;
}

.logo {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	float: left;
	display: block;
	background: url(../people.png) no-repeat 50% 50%;
	height: 50px;
	width: 40px;
	margin-right: 30px;
}

@media all and (min-width:800px) {
	.logo {
		background: url(../people.png) no-repeat 50% 50%;
		height: 72px;
		width: 92px;
		margin: 8px 0;
	}

	.name-and-slogan {
		position: static !important;
		clip: auto;
	}

}

.field.field--type-field-collection > .field__label {
	margin-bottom: 1em;
	font-size: 1.4em;
	border-bottom: 3px solid #af0136;
}

.field-collection-container {
	position: relative;
	margin-bottom: 2.5em;
	border: none;
}

.field-collection-container .field__items .field__item {
	margin-bottom: 1.5em;
}

.field-collection-container .field__items .field__item:last-child {
	margin-bottom: 0;
}

.field-collection-container .field__items .field__item *:last-child {
	margin-bottom: 0;
}

.field-collection-container .field__items .field__item *:first-child {
	margin-top: 0;
}

.field-collection-container ul.action-links-field-collection-add, .field-collection-view ul.field-collection-view-links {
	font-size: .8em;
}

.field-collection-container ul.action-links-field-collection-add a, .field-collection-view ul.field-collection-view-links a {
	text-decoration: none;
	margin-right: 0;
	padding: .3em .5em;
	display: block;
}

.field-collection-view ul.field-collection-view-links {
	overflow: hidden;
	*zoom: 1;
	clear: both;
	float: none;
	text-align: right;
	border-bottom: 3px solid #efefef;
	margin: 0;
}

.field-collection-view ul.field-collection-view-links li {
	float: right;
}

.field-collection-view ul.field-collection-view-links a {
	background-color: #efefef;
	color: #2e2e2c;
}

.field-collection-view ul.field-collection-view-links a:hover, .field-collection-view ul.field-collection-view-links a:focus, .field-collection-view ul.field-collection-view-links a:active {
	background-color: #2e2e2c;
	color: #efefef;
}

.field-collection-container ul.action-links-field-collection-add {
	position: absolute;
	top: 2.6em;
	right: 0;
	padding: 0;
}

.field-collection-container ul.action-links-field-collection-add a {
	background-color: #af0136;
	color: white;
}

.field-collection-container ul.action-links-field-collection-add a:hover, .field-collection-container ul.action-links-field-collection-add a:focus, .field-collection-container ul.action-links-field-collection-add a:active {
	background-color: white;
	color: #2e2e2c;
}

.field-collection-view {
	margin: 0;
	padding: 0;
	border: none;
}

.messages {
	color: white;
	background-color: #cccccc;
	border: 1px solid #b9b9b9;
	padding: 1em;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

.messages--status, .messages--error, .messages--warning {
	color: #2e2e2c;
	padding: .5em .6em;
	background-image: none;
}

.messages--status {
	background-color: #c8eb96;
	border-color: #bbdf88;
}

.messages--warning {
	background-color: #ffc864;
	border-color: #f6bc54;
}

.messages--error {
	background-color: #c8eb96;
	border-color: #bbdf88;
}

div.messages ul {
	margin: 0;
}

.l-region--navigation-container {
	font-family: "Ubuntu-R";
	background-color: #2e2e2c;
	font-size: 1em;
}

.block--toggle.block--toggle-block-system-user-menu, .block--toggle.block--toggle-block-menu-menu-login-menu {
	background-image: url(/profiles/recruiter/themes/cloudy/images/user-menu-toggle.png);
}

.l-region--navigation {
	position: relative;
	overflow: visible;
}

.l-region--navigation ul.menu a {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	background-color: #272726;
	display: block;
	color: white;
	padding: 0.4em;
	text-decoration: none;
}

.l-region--navigation ul.menu a:hover, .l-region--navigation ul.menu a:focus, .l-region--navigation ul.menu a:active {
	background-color: #1a1a19;
}

.l-region--navigation .block .block__title {
	display: none;
}

@media all and (min-width:800px) {
	.l-region--navigation-container {
		background: #af0136;
		border-bottom: 5px solid #2e2e2c;
	}

	.l-region--navigation ul.menu a {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		background: transparent;
		padding-left: 1em;
		padding-right: 1em;
	}

	.l-region--navigation ul.menu a:hover, .l-region--navigation ul.menu a:focus, .l-region--navigation ul.menu a:active {
		background-color: #2e2e2c;
	}

	.l-region--navigation ul.menu {
	}

	.l-region--navigation ul.menu li {
		position: relative;
	}

	.l-region--navigation ul.menu li.sfHover a {
		background-color: #2e2e2c;
	}

	.l-region--navigation ul.menu li:hover ul, .l-region--navigation ul.menu li.sfHover ul {
		left: 0;
		top: 2.1em;
		z-index: 99;
	}

	.l-region--navigation ul.menu li:hover ul li.active-trail a, .l-region--navigation ul.menu li:hover ul a:hover, .l-region--navigation ul.menu li:hover ul a:focus, .l-region--navigation ul.menu li.sfHover ul li.active-trail a, .l-region--navigation ul.menu li.sfHover ul a:hover, .l-region--navigation ul.menu li.sfHover ul a:focus {
		background-color: #1a1a19;
	}

	.l-region--navigation ul.menu ul {
		left: 0;
		min-width: 100%;
		position: absolute;
		top: -99999em;
		z-index: 100;
		background-color: #2e2e2c;
	}

	.l-region--navigation ul.menu ul li {
		float: none;
	}

	.block-main-menu > ul.menu > li.last {
		margin-top: 0.25em;
		font-size: 0.82em;
		float: right;
	}

	.block-main-menu > ul.menu > li.last a {
		color: white;
		background-color: #2e2e2c;
		border: 1px solid #1a1a1a;
		padding: 1em;
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
		-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
		font-weight: bold;
		text-align: center;
		padding: .5em 1em;
		cursor: pointer;
		padding: .35em .5em;
	}

	.block-main-menu > ul.menu > li.last a:hover, .block-main-menu > ul.menu > li.last a:focus, .block-main-menu > ul.menu > li.last a:active {
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
		background-color: #373730;
		border-color: #070707;
		text-decoration: none;
	}

	.block-main-menu > ul.menu > li.last a:active {
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
	}

	.block-main-menu > ul.menu > li.last a:hover, .block-main-menu > ul.menu > li.last a:focus, .block-main-menu > ul.menu > li.last a:active {
		background-color: #c9dd19;
		color: #2e2e2c;
	}

	.block-user-menu.block--menu {
		font-family: "Ubuntu-R";
		width: auto;
		font-size: .8em;
		/*position: absolute;*/
		top: -3em;
		right: 10px;
	}

	.block-user-menu.block--menu ul.menu {
		font-size: 1em;
	}

	.block-user-menu.block--menu ul.menu li {
		margin-left: 1.25em;
	}

	.block-user-menu.block--menu ul.menu a {
		color: #2e2e2c;
		padding: 0 !important;
		background: transparent !important;
	}

	.block-user-menu.block--menu ul.menu a:hover, .block-user-menu.block--menu ul.menu a:focus, .block-user-menu.block--menu ul.menu a:active {
		color: #af0136;
	}

}

#overlay {
	display: block;
	max-width: 900px;
	min-width: none;
}

#overlay h1.title {
	margin: 0 0 1em 0;
	font-size: 1.5em;
	font-weight: normal;
	border-bottom: 5px solid #af0136;
}

#overlay-titlebar >:not(#overlay-close-wrapper), #overlay .header {
	display: none;
}

html.js body.overlay {
	padding: 3em 0;
}

@media all and (min-width:800px) {
	.block-search label {
		font-size: 1.5em;
	}

}

.block--search-api-saved-searches {
	background-color: #efefef;
}

.search-container {
	background: url(/profiles/recruiter/themes/cloudy/images/rgbapng/e6e6e67f-5.png?1383572401);
	background: rgba(230, 230, 230, 0.5);
}

#autocomplete {
	background: white;
	border: 1px solid #999;
	color: #2e2e2c;
}

ul.tabs--primary {
	overflow: hidden;
	*zoom: 1;
	margin: 0 0 1em 0;
	padding: 0;
	border-bottom: 3px solid #cccccc;
}

ul.tabs--primary li {
	list-style: none;
	margin: 0 .5em 0 0;
	float: left;
}

ul.tabs--primary a {
	text-decoration: none;
	padding: .3em .5em;
	display: block;
	color: #2e2e2c;
	background-color: #efefef;
}

ul.tabs--primary a:hover, ul.tabs--primary a:focus, ul.tabs--primary a:active, ul.tabs--primary li.active a {
	background-color: #cccccc;
	color: white;
}

.block--recruiter-resume .state-info-box .state-info-text {
	background-color: #af0136;
	color: #efefef;
}

.block--recruiter-resume .state-info-box .state-info-text .resume-state {
	font-family: "Ubuntu-M";
}

.block--recruiter-resume .state-info-box .state-info-link a {
	color: #2e2e2c;
	background-color: #c9dd19;
	border: 1px solid #a1b020;
	padding: 1em;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	font-weight: bold;
	text-align: center;
	padding: .5em 1em;
	cursor: pointer;
	border-bottom: 5px solid #9faf14;
	display: block;
}

.block--recruiter-resume .state-info-box .state-info-link a:hover, .block--recruiter-resume .state-info-box .state-info-link a:focus, .block--recruiter-resume .state-info-box .state-info-link a:active {
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background-color: #d6ec17;
	border-color: #7d8722;
	text-decoration: none;
}

.block--recruiter-resume .state-info-box .state-info-link a:active {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}

.block--recruiter-resume .state-info-box .state-info-link a:hover, .block--recruiter-resume .state-info-box .state-info-link a:focus, .block--recruiter-resume .state-info-box .state-info-link a:active {
	border-color: #2e2e2c;
}

.block--recruiter-resume .state-info-box.state-info-state-visible .state-info-text {
	background-color: #efefef;
	color: #2e2e2c;
}

.field--name-field-resume-personal-info .field-collection-view .field__name .field__items {
	font-size: 1.3em;
}

.resume-teaser-container .field--name-field-resume-job-preferences > .field__label:first-child {
	display: none !important;
}

.resume-teaser-container .field.field--name-field-resume-summary {
	display: none;
}

@media all and (max-width:800px) {
	.sidebar-first-toggle {
		-moz-border-radius-topright: 5px;
		-webkit-border-top-right-radius: 5px;
		border-top-right-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-webkit-border-bottom-right-radius: 5px;
		border-bottom-right-radius: 5px;
		top: 3.6em;
		right: -35px;
		background: #af0136 url(/profiles/recruiter/themes/cloudy/images/filter-icon.png) no-repeat 45% 50%;
		background-size: 35%;
	}

	.show-sidebar .sidebar-first-toggle {
		right: -45px;
	}

	html.js .l-sidebar-first-container {
		color: #efefef;
		background-color: #2e2e2c;
		border-right: 5px solid #af0136;
	}

	html.js .l-sidebar-first-container a {
		color: #efefef;
	}

	html.js .l-sidebar-first-container a:hover, html.js .l-sidebar-first-container a:focus, html.js .l-sidebar-first-container a:active {
		color: white;
		text-decoration: underline;
	}

	html.js .l-sidebar-first-container .block {
		-webkit-transition: opacity 0.4s linear;
		-moz-transition: opacity 0.4s linear;
		-o-transition: opacity 0.4s linear;
		transition: opacity 0.4s linear;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
		background-color: #272726;
		padding: 6px 9px;
		margin: 9px 0;
	}

}

.view-front-page-job-search .views-field-title {
	padding-left: 50px;
	background: url(/profiles/recruiter/themes/cloudy/images/star.png) no-repeat 10px 50%;
}

.job-link-wrapper {
	display: none;
}

@media all and (min-width:800px) {
	.job-link-wrapper {
		display: block;
	}

}

.view-job-search th.views-field-flag-ops-entity-1 {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}

.hot-jobs-summary {
	font-family: "Ubuntu-M";
	font-weight: normal;
	font-size: 1em;
	padding-bottom: .5em;
	margin-bottom: 0em;
}

.view-job-search .views-row-even {
	background-color: white;
}

.view-job-search .views-row-odd {
	background-color: #efefef;
}

.node-job.node-teaser .link-wrapper {
	font-size: 0.8em;
}

ul li.flag-job_bookmarks, ul li.flag-resume_bookmarks {
	list-style-image: none;
	list-style-type: none;
	margin-left: 0;
	padding: 0;
}

.flag-resume-bookmarks .flag.flag-action, .flag-job-bookmarks .flag.flag-action {
	background-position: 0 -60px;
}

.flag-resume-bookmarks .flag.unflag-action, .flag-job-bookmarks .flag.unflag-action {
	background-position: 0 0;
}

.flag-resume-bookmarks .flag:hover, .flag-resume-bookmarks .flag:focus, .flag-resume-bookmarks .flag:active, .flag-job-bookmarks .flag:hover, .flag-job-bookmarks .flag:focus, .flag-job-bookmarks .flag:active {
	background-position: 0 -30px;
}

.flag-resume-bookmarks .flag-message, .flag-job-bookmarks .flag-message {
	width: auto;
	left: auto;
	top: auto;
	position: relative;
}

.flag-resume-bookmarks .flag-throbber, .flag-job-bookmarks .flag-throbber {
	display: none;
}

.flag-waiting .flag-throbber {
	display: inline;
}

.field--type-term-level .term-level-field-label {
	font-family: "Ubuntu-M";
	font-weight: normal;
}

.field--type-term-level .term-level-tag-cloud-more {
	font-family: "Ubuntu-M";
}

.block--facetapi .item-list ul {
	margin-top: 0.2em;
	margin-bottom: 0.4em;
}

.facetapi-limit-link {
	font-family: "Ubuntu-M";
}

@media all and (max-width:800px) {
	html body.admin-menu {
		margin-top: 0 !important;
	}

	#admin-menu {
		display: none;
	}

	html body.toolbar {
		padding-top: 0 !important;
	}

	#toolbar {
		display: none;
	}

}

form .form-item.form-type-date-select label {
	float: none;
	margin-left: 0;
}

.node--job-application .profile2-resume {
	border-top: 1px solid #cccccc;
}

.job-application__links a {
	margin-bottom: 0.5em;
}

.job-application__links .links--inline li {
	float: none;
}

.view-job-application-recruiter .views-row {
	border-bottom: 1px solid #cccccc;
	padding-bottom: 1em;
}

.block--recruiter-job-application .field:not(.field--type-field-collection):not(.field--label-hidden) .field__label {
	width: auto;
	float: none;
	margin-left: 0;
}

.block--recruiter-job-application .field--label-inline .field__items {
	float: none;
}

.block--recruiter-job-application .field:not(.field--type-field-collection):not(.field--label-hidden) {
	padding-left: 0;
	margin-bottom: 1em;
}

.block--toggle {
	height: 35px;
	background-color: #2e2e2c;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	background-color: rgb(25, 25, 25);
	background-color: rgba(25, 25, 25, 0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255, 255, 255, 0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255, 255, 255, 0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255, 255, 255, 0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255, 255, 255, 0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25, 25, 25);
	border-top-color: rgba(25, 25, 25, 0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25, 25, 25);
	border-bottom-color: rgba(25, 25, 25, 0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25, 25, 25);
	border-right-color: rgba(25, 25, 25, 0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25, 25, 25);
	border-left-color: rgba(25, 25, 25, 0.92);
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45, 45, 45, 0.88);
	}

	#tiptip_holder.tip_bottom #tiptip_arrow_inner {
		border-bottom-color: rgba(45, 45, 45, 0.88);
	}

	#tiptip_holder.tip_top #tiptip_arrow_inner {
		border-top-color: rgba(20, 20, 20, 0.92);
	}

}
